body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  background-color: #c1c5f7;
  margin: 2;
  padding: 2;
}


button:hover {
  background-color: #ff0000;
}


/* Navbar main */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 20px;
}

/* Logo */
.logo {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  max-width: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}



.nav-links li a {
  color: rgb(53, 0, 243);
  text-decoration: tahoma;
  font-size: 20px;
  font-weight: bold;
  
  
}

/* Hover effect */
.nav-links li a:hover {
  color: #98ff8f;
}


@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }
}


.services {
  padding: 20px 20px;
  text-align: center;
}

.services h2 {
  font-size: 35px;
  margin-bottom: 17x;
}

.service-cards {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  width: 240px;
  border-radius: 80px;
  box-shadow: 100 5px 1000px rgba(238, 230, 230, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-25px);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  color: #969393;
}


.contact {
  padding: 20px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-form {
  max-width: 400px;
  margin:   0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2d1eff;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 11px;
  font-size: 18px;
  border-radius: 60px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1fff62;
}




/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

  /* Hero */
  .hero {
    padding: 40px 15px;
    text-align: center;
  }

  /* Services */
  .services {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 90%;
  }

  /* Contact */
  .contact {
    padding: 40px 15px;
  }

  .contact-form {
    width: 100%;
  }
}









.footer {
  background: #222;
  color: white;
  padding: 0px 10px 5px;
  margin-top: 12px;
}

.footer-container {
  max-width: 2000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 875px;
  flex-wrap: wrap;
}

.footer-box {
  flex: 1;
  min-width: 220px;
}

.footer-box h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.footer-box p {
  line-height: 1.6;
  color: #ddd;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer-box ul li a:hover {
  text-decoration: underline;
  color: white;
}

.copyright {
  text-align: center;
  margin-top: 0px;
  color: #aaa;
  font-size: 18px;
}
